*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

:root{
    scroll-behavior: smooth;
}

header{
    width: 100%;
    display: flex;
    height: 70px;
    align-items: center;

    
}

#item1{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.618), rgba(0, 0, 0, 0.567)
       ), url(../imagenes/fotis-fotopoulos-6sAl6aQ4OWI-unsplash.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: center;
    
}

#logo{
    width: 15%;
    display: flex;
    justify-content: end;
    font-size: 25px;
    color: #fff;
   
}


.w{
    color: rgb(239, 95, 95);
    font-size: 42px;
}


.navbar{
    width: 74%;
    display: flex;
    justify-content: end;
    
}

.navbar ul{
    display: flex;
    list-style: none;
}

.navbar li{
    margin-left: 26px;
}

.navbar a{
    text-decoration: none;
    font-size: 24px;
    color: #fff;
    transition: 0.3s;
}

 a:hover{
    color: rgb(239, 95, 95);
}

.list{
    display: none;
    
}

.button-menu{
    border: none;
    background: none;
}

.contenido1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 130px;
}

.imagen-p {
    width: 170px;
    height: 170px;
    background-image:  url(../imagenes/Imagen\ de\ WhatsApp\ 2023-05-04\ a\ las\ 14.06.57.jpg);
    background-size:cover;
    border-radius: 50%;
    margin: 0 auto;
}

.nombre{
    margin-top: 20px;
    color: rgb(224, 0, 0);
    text-align: center;
    font-size: 25px;
}

.parrafo{
    color: #fff;
    text-align: center;
    font-size: 19px;
    margin-top: 20px;
}

.redes{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    gap: 15px;
}

.redes img{
    width: 30px;
}


#contenido2{
    background-color: rgb(22, 22, 59);
    display: flex;
    justify-content: center;
    height: 600px;
}

.sub-h3{
    color: rgb(239, 95, 95);
    font-size: 18px;
    margin-top: 100px;
}

.sub-h2{
    color: #fff;
}

.descripcion{
    color: #fff;
    margin-top: 20px;
    font-size: 19px;
}

.datos{
    border: 1px solid rgb(239, 95, 95);
    width: 80%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #fff;
    margin-top: 57px;
}

#contenido3{
    background-color: rgb(43, 43, 92);
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  
}

.sub-skill{
    color: rgb(239, 95, 95);
    margin-top: 100px;
    font-size: 30px;
}

.backend img{
width: 200px;
}

.frontend img{
width: 200px;
}

.control-v img{
    width: 200px;
}

.backend h2{
    font-size: 30px;
}
.frontend h2{
    font-size: 30px;
}
.control-v h2{
    font-size: 30px;
}

.contenido4{
    width: 100%;
    background-color: rgb(22, 22, 59);
    display: flex;
    justify-content: center;
    height: 600px;
}

.item4{
    margin-top: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.subtitulo-p{
    text-align: center;
    color: #fff;
    font-size: 30px;
}

.proyectos{
  display: flex;
  justify-content: center;
  gap: 10px;  
  margin-top: 50px;
  flex-wrap: wrap;
}

.proyectos img{
    width: 200px;
}

.img1{
    transition: all 300ms;
}

.img1 :hover{
    transform: scale(1.2);
}
.img2{
    transition: all 300ms;
}

.img2 :hover{
    transform: scale(1.2);
}
.img3{
    transition: all 300ms;
}

.img3 :hover{
    transform: scale(1.2);
}
.img4{
    transition: all 300ms;
}

.img4 :hover{
    transform: scale(1.2);
}
.img5{
    transition: all 300ms;
}

.img5 :hover{
    transform: scale(1.2);
}
.img6{
    transition: all 300ms;
}

.img6 :hover{
    transform: scale(1.2);
}

#contenido5{
    background-color: rgb(43, 43, 92);
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#contenido5 h2{
    font-size: 30px;
    margin-top: 100px;
}

#contenido5 img{
    width: 100px;
   
}

#contenido5 a{
    color: #fff;
    font-size: 30px;
}

.gotop-container{
    position: fixed;
    z-index: -1;
    bottom: 4rem;
    right: 4rem;
    width: 6.6rem;
    height: 6.6;
}

.gotop-buttom{
    width: 0rem;
    height: 0rem;
    background-color: rgb(239, 95, 95);
    border-radius: 50%;
    cursor: pointer;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.gotop-buttom img{
    position: absolute;
    font-size: 1.7rem;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%)scale(0) ;
    transition: .2s;
}

.show{
    z-index: 10;
}

.show .gotop-buttom{
    animation: popup .3s ease-in-out;
    width: 3.6rem;
    height: 3.6rem;
    z-index: 11;
}

.show img{
    transform: translate(-50%, -50% ) scale(1);
}

@keyframes popup{
    0%{
        width: 0rem;
        height: 0rem;
    }
    50%{
        width: 8rem;
        height: 8rem;
    }
    100%{
        width: 3.6rem;
        height: 3.6rem;
    }
}


@media only screen and (max-width:1024px){

    #logo{
        width: 21%;
    }

    .datos{
        border: none;
    }
}
@media only screen and (max-width:800px){

    #logo{
        width: 30%;
    }

    .navbar{
        position: fixed;
        right: 50px;
        top: 69px;
        width: 30%;
        height: 42%;
        background-color: rgb(239, 95, 95);
        display: none;
    }

    .navbar ul{
        flex-direction: column;
        position: relative;
        left: 26%;
        top: 17%;
    }

    .list{
        display: block;
        width: 63%;
    display: flex;
    justify-content: end;
    position: fixed;
    left: 30%;
    }

    .list img{
        width: 30px;
    }

    .datos{
        border: none;
    }
}
@media only screen and (max-width:540px){

  
    #logo{
        width: 41%;
    }

    .navbar{
        width:53%;
        right:10px;
    }

    .datos{
    position: relative;
    left: 43px;
    }

   .gotop-container{
    bottom: 4rem;
    right: -2rem;
    width: 4.6rem;
    height: 62.6px;
   } 

   .contenido4 {
    height: 889px;
  }
}